<div class="nested-form-wrapper" data-new-record="<%= f.object.new_record? %>">
  <div class="my-4 sm:col-span-full">
    <%= f.label :name, "Option name", class: "block" %>
    <div class="relative mt-2 rounded-md shadow-sm">
      <%= f.text_field :name, class: "w-full" %>
      <div class="absolute inset-y-0 right-0 flex items-center pr-3">
        <button type="button" data-action="nested-form#remove">
          <svg class="h-6 w-6 text-gray-400" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor">
            <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12" />
          </svg>
        </button>
      </div>
    </div>
  </div>
  <%= f.hidden_field :_destroy %>
</div>
