<% if @announcement.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(@announcement.errors.count, "error") %> prohibited this announcement from being saved:</h2>
    <ul>
    <% @announcement.errors.each do |error| %>
        <li><%= error.full_message %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h1 class="mt-4">Edit the Announcement</h1>
<%= render partial: "form", locals: {announcement: @announcement} %>
