<h1>Editing mission order</h1>

<%= render "form", mission_order: @mission_order %>

<br>

<div>
  <%= link_to "Show this mission order", @mission_order %> |
  <%= link_to "Back to mission orders", mission_orders_path %>
</div>
