<div class="border-b border-gray-200 pb-5 sm:pb-0 mt-10">
  <div class="mt-3 sm:mt-4">
    <div class="hidden sm:block">
      <nav class="-mb-px flex space-x-8 user-submenu">
        <%= link_to t("views.shared.profile"), user_path(user), data: { turbo_frame: 'tabbed-content', turbo_action: 'advance' } %>
        <%= link_to t("views.emergency_contacts.title_emergency_contact"), user_emergency_contacts_path(user), data: { turbo_frame: 'tabbed-content', turbo_action: 'advance'} %>
        <%= link_to t("views.assets.title_assets"), user_assets_path(user), data: { turbo_frame: 'tabbed-content', turbo_action: 'advance'} %>
      </nav>
    </div>
  </div>
</div>
