<div>
  <h1 class="my-10 text-xl tracking-tight leading-5 font-extrabold text-gray-900 break-words sm:text-2xl sm:leading-8 md:text-3xl">Edit <span class="text-blue-600"><%= @user.full_name %></span> information</h1>
  <hr class="border-t border-gray-400 my-8">
</div>
<%= render partial: "form" %>