<h2 class="m-4 text-center text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight p-5"><%= t("views.job_applications.add_job_application") %></h2>
<%= render partial: "form", locals: {job: @job, job_application: @job_application} %>

  