<%= turbo_frame_tag "tabbed-content" do %>
  <div class="px-4 sm:px-6 lg:px-8 mt-10">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <h1 class="text-base font-semibold leading-6 text-indigo-500">Users requests</h1>
        <p class="mt-2 text-sm text-gray-700">A list of all of your requests.</p>
      </div>
    </div>
    <div class="min-w-full my-8">
      <div data-controller="tabs" data-tabs-active-tab="border-purple-500 text-purple-600 whitespace-nowrap border-b-2">
        <ul class="list-reset flex border-b -mb-px mb-5 mt-2 flex space-x-8">
          <li class="-mb-px mr-1" data-tabs-target="tab" data-action="click->tabs#change">
            <a class="border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 text-sm font-medium" href="#">Pending</a>
          </li>
          <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
            <a class="border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 text-sm font-medium" href="#">Approved</a>
          </li>
          <li class="mr-1" data-tabs-target="tab" data-action="click->tabs#change">
            <a class="border-transparent text-gray-500 hover:border-gray-200 hover:text-gray-700 whitespace-nowrap border-b-2 px-1 text-sm font-medium" href="#">Rejected</a>
          </li>
        </ul>

        <div data-tabs-target="panel">
          <div class="mt-10">
            <%= render partial: 'list_item', locals: {user_requests: @user_requests.pending} %>
          </div>
        </div>

        <div data-tabs-target="panel">
          <div class="mt-10">
            <%= render partial: 'list_item', locals: {user_requests: @user_requests.approved} %>
          </div>
        </div>

        <div data-tabs-target="panel">
          <div class="mt-10">
            <%= render partial: 'list_item', locals: {user_requests: @user_requests.rejected} %>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>
