<h1>Editing time off request</h1>

<%= render "form", time_off_request: @time_off_request %>

<br>

<div>
  <%= link_to "Show this time off request", @time_off_request %> |
  <%= link_to "Back to time off requests", time_off_requests_path %>
</div>
