<p style="color: green"><%= notice %></p>

<h1>Time off requests</h1>

<div id="time_off_requests">
  <% @time_off_requests.each do |time_off_request| %>
    <%= render time_off_request %>
    <p>
      <%= link_to "Show this time off request", time_off_request %>
    </p>
  <% end %>
</div>

<%= link_to "New time off request", new_time_off_request_path %>
