<%= turbo_frame_tag "tabbed-content" do %>
  <div class="w-full">
    <div class="flex justify-between items-center">
      <h1 class="font-bold text-4xl">Time off requests</h1>
    </div>
    <div class="min-w-full my-8">
      <div class="table font-bold min-w-full">
        <div>Category</div>
        <div>Start Date</div>
        <div>End Date</div>
        <div>State</div>
        <div>Managed by</div>
      </div>
      <%= turbo_frame_tag "new-time-off-request-form", src: new_user_time_off_request_path(@user.id) %>
      <div id="time_off_requests">
        <%= render @time_off_requests %>
      </div>
    </div>
  </div>
<% end %>
