<h2 class="mt-1 mb-5  max-w-lg text-1xl font-bold tracking-tight text-gray-900 sm:text-2xl">Request a time off</h2>
<%= render "form", time_off_request: @time_off_request %>

<br>

<div>
  <%= link_to "Back to time off requests", time_off_requests_path %>
</div>
