<%= turbo_frame_tag "emergency-contact-panel" do %>
<div class="w-full">
  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">Emergency contacts</h1>
  </div>
  <div class="min-w-full my-8">
    <div class="table font-bold min-w-full">
      <div>Name</div>
      <div>Email</div>
      <div>Relationship</div>
      <div>Phone</div>
      <div></div>
    </div>
    <%= turbo_frame_tag "new-emergency-contact-form", src: new_user_emergency_contact_path(@user.id) %>
    <div id="emergency_contacts">
      <%= render @emergency_contacts %>
    </div>
  </div>
</div>

<% end %>
