    <script src="https://d3js.org/d3.v7.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-org-chart@2"></script>
    <script src="https://cdn.jsdelivr.net/npm/d3-flextree@2.1.2/build/d3-flextree.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.3.1/jspdf.umd.min.js"></script>
    <h1 class="mb-10">Organization chart</h1>
    <div class="org-chart-layout relative" style="background: #fbfafa;border: 1px solid #f4f4f3;height: 100%;overflow: hidden;position: relative;">
      <div class="chart-container">
      </div>
      <div class="chart-controls absolute" style="top: 15px;right: 15px;">
        <div onclick="chart.zoomIn()" class="chart-controls__title mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607zM10.5 7.5v6m3-3h-6" />
          </svg>
        </div>
        <div onclick="chart.zoomOut()" class="chart-controls__title mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607zM13.5 10.5h-6" />
          </svg>
        </div>
        <div onclick="downloadPdf()" class="chart-controls__title mb-2">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M3 16.5v2.25A2.25 2.25 0 005.25 21h13.5A2.25 2.25 0 0021 18.75V16.5M16.5 12L12 16.5m0 0L7.5 12m4.5 4.5V3" />
          </svg>
        </div>

      </div>
    </div>

    <script>

      d3.csv(
        '/organization/csv',
      ).then(data => {
        window.chart = new d3.OrgChart()
          .container('.chart-container')
          .data(data)
          .nodeWidth((d) => 250)
          .initialZoom(0.7)
          .nodeHeight((d) => 175)
          .childrenMargin((d) => 40)
          .compactMarginBetween((d) => 15)
          .compactMarginPair((d) => 80)
          .nodeContent(function (d, i, arr, state) {
            return `
            <div style="padding-top:30px;background-color:none;margin-left:1px;height:${
              d.height
            }px;border-radius:2px;overflow:visible">
              <div style="height:${
                d.height - 10
              }px;padding-top:0px;background-color:white;border: 4px solid lightgray;border-radius: 13px;">

                <img src=" ${
                  d.data.imageUrl
                }" style="margin-top:-30px;margin-left:${d.width / 2 - 30}px;border-radius:100px;width:60px;height:60px;" />


               <div style="padding:20px; padding-top:35px;text-align:center">
                   <div style="font-size:20px;font-weight:bold"> ${
                     d.data.name
                   } </div>
                   <div style="font-size:20px;margin-top:4px"> ${
                     d.data.positionName
                   } </div>
               </div>

              </div>
      </div>
  `;
          })
          .render();
      });

      function downloadPdf() {
        chart.exportImg({
          full: true,
          save: false,
          onLoad: (base64) => {
            var pdf = new jspdf.jsPDF();
            var img = new Image();
            img.src = base64;
            img.onload = function () {
              pdf.addImage(
                img,
                'JPEG',
                5,
                5,
                595 / 3,
                ((img.height / img.width) * 595) / 3
              );
              pdf.save('chart.pdf');
            };
          },
        });
      }
    </script>


