@import 'actiontext.css';
@import 'actiontext';
@import 'trix/dist/trix.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

div.field_with_errors > label {
  @apply text-red-900;
}

div.field_with_errors > :is(input, textarea, select) {
  @apply border-red-300 text-red-900 placeholder-red-300;
}


input[type="date"], input[type="text"], input[type="search"] {
  @apply block rounded-md border-0 py-1.5 text-gray-900 shadow-sm ring-1 ring-inset ring-gray-300 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-600 sm:text-sm sm:leading-6
}
input[type="submit"] {
  @apply rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold text-white shadow-sm hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
}
select{
  @apply mt-2 block w-full rounded-md border-0 py-1.5 pl-3 pr-10 text-gray-900 ring-1 ring-inset ring-gray-300 focus:ring-2 focus:ring-indigo-600 sm:text-sm sm:leading-6
}
label {
  @apply block text-sm font-medium leading-6 text-gray-900
}
a {
  @apply text-indigo-600 hover:text-indigo-500
}
/* @layer components {
  .page-container {
    @apply max-w-7xl mx-auto py-10 px-4 sm:py-14 sm:px-6 lg:px-8;
  }

  @layer utilities {
    .gradient {
      @apply bg-gradient-to-b from-white to-gray-100;
    }

    .highlight-white {
      box-shadow: inset 0 1px 0 0 hsl(0deg 0% 100% / 5%);
    }
  }
  .button {
    min-width: 100px;
    @apply inline-flex items-center px-6 justify-center py-3 border border-transparent
     rounded-md shadow-sm text-white focus:outline-none
    focus:ring-2 focus:ring-offset-1 hover:text-white focus:text-white no-underline
    cursor-pointer dark:focus:ring-offset-black text-sm
  }

  .button--disabled {
    @apply bg-gray-300 text-gray-500 focus:ring-gray-300 hover:text-gray-500
  }

  .button--primary {
    @apply bg-teal-700 hover:bg-teal-800 focus:ring-teal-700
  }

  .button--secondary {
    @apply bg-blue-600 hover:bg-blue-700 focus:ring-blue-500
  }

  .button--danger {
    @apply bg-red-600 hover:bg-red-800 focus:ring-red-400
  }

  .button--gray {
    @apply bg-gray-200 text-gray-700 hover:text-gray-700 hover:bg-gray-300 focus:ring-gray-400
    dark:bg-gray-300 dark:hover:bg-gray-400 focus:text-gray-700 px-4 py-2 dark:hover:text-gray-900
  }

  .button--clear {
    @apply border-gray-300 text-gray-700 hover:text-gray-700 bg-white hover:bg-gray-50
    focus:ring-gray-400 focus:text-gray-700 dark:text-gray-300 dark:hover:bg-gray-700
    dark:border-gray-600 dark:focus:ring-gray-600 dark:bg-transparent
  }

  .button--dark {
    @apply bg-gray-700 hover:bg-gray-800 focus:ring-gray-600 dark:hover:bg-gray-600
  }

  .button--medium {
    @apply px-4 py-2
  }

  .button--github {
    @apply bg-gray-900 hover:bg-gray-800 focus:ring-gray-600
  }

  .button--google {
    @apply bg-blue-500 hover:bg-blue-600 focus:ring-blue-400
  }
} */
