  <tr>
    <td align="center" valign="top" bgcolor="#FFFFFF" valign="top" style="padding-right:40px; padding-bottom:40px; padding-left:40px; ">
      <h1 style="color:#241C15; font-family:Georgia, Times, 'Times New Roman', serif; font-size:30px; font-style:normal; font-weight:400; line-height:42px; letter-spacing:normal; margin:0; padding:0; text-align:center;">
        You can confirm your account email through the link below.
      </h1>
    </td>
  </tr>
  <tr>
    <td align="center" valign="top" style="padding-right:40px; padding-bottom:40px; padding-left:40px; ">
      <p style="color:#6A655F; font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-size:16px; font-style:normal; font-weight:400; line-height:42px; letter-spacing:normal; margin:0; padding:0; text-align:center;">
        If you didn't request this, please ignore this email.
      </p>
    </td>
  </tr>
  <tr>
    <td align="center" valign="middle" style="padding-right:40px; padding-bottom:60px; padding-left:40px;">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td align="center" bgcolor="#5046e5" id="button">
            <a href="<%= url_for(confirmation_url(@resource, confirmation_token: @token))%>" target="_blank" style="border-radius:0; border:1px solid #5046e5; color:#FFFFFF; display:inline-block; font-size:16px; font-family:'Helvetica Neue', Helvetica, Arial, Verdana, sans-serif; font-weight:400; letter-spacing:.3px; padding:20px; text-decoration:none;">
              Confirm
            </a>
          </td>
        </tr>
      </table>
    </td>
  </tr>
