<div class="isolate bg-white px-6 lg:px-8 mb-10">
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">Add New Education</h2>
    </div>
</div>
<%= render "form" %>
