<p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl"><%= t("views.time_requests.edit_time_off") %></p>
<div class="my-10">
  <%= render partial: "form", locals: {user: @user, time_request: @time_request} %>
</div>
