<div class="inline-block text-sm px-4 py-2 leading-none rounded no-underline text-gray hover:text-gray-900 hover:bg-white mt-4 lg:mt-0">
  <div class="relative" data-controller="dropdown">
    <div data-action="click->dropdown#toggle click@window->dropdown#hide" role="button" data-dropdown-target="button" tabindex="0" class="inline-block select-none">
      <span class="appearance-none flex items-center inline-block text-gray-700">
        <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" aria-hidden="true">
            <path stroke-linecap="round" stroke-linejoin="round" d="M14.857 17.082a23.848 23.848 0 005.454-1.31A8.967 8.967 0 0118 9.75v-.7V9A6 6 0 006 9v.75a8.967 8.967 0 01-2.312 6.022c1.733.64 3.56 1.085 5.455 1.31m5.714 0a24.255 24.255 0 01-5.714 0m5.714 0a3 3 0 11-5.714 0" />
        </svg>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="h-4 w-4"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path></svg>
      </span>
    </div>
    <div data-dropdown-target="menu" class="absolute right-0 mt-2 hidden">
      <div class="bg-white shadow rounded border overflow-hidden">
        <% if @unread.any? %>
          <% @unread.each do |notification| %>
            <%= link_to notification.to_notification.message,  notification.to_notification.url, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-10 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap'%>
          <% end %>
        <% else %>
            <p class="no-underline block px-10 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap">No unread notifications yet</p>
        <% end %>
      </div>
      <div class="bg-white shadow rounded border overflow-hidden">
        <% @read.each do |notification| %>
            <%= link_to notification.to_notification.message,  notification.to_notification.url, data: {action: "click->dropdown#toggle"}, class: 'no-underline block px-10 py-3 text-gray-900 bg-white hover:bg-gray-300 whitespace-nowrap'%>
        <% end %>
      </div>
    </div>
  </div>
</div>
